.container {
  overflow: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40rem;
}

.main {
  background-color: #ededed;
  overflow: auto;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main2 {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 8%) 3px 2px 9px 4px;
  width: 70%;
  overflow: auto;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding: 2rem;
}

.header {
  width: 100%;
  height: 4rem;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  min-width: 40rem;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}