.main {
    font-size: 16px;
    position: relative;
}

.header {

    /* height: 50rem; */
    background: url("../public/img/scene.svg") no-repeat;
    background-size: 100% 100%;
}

.section {
    margin-top: 4rem;
    height: 45rem;
    position: relative;
}
.login{
    width: fit-content;
    top:15vw;
    background-color: #fefefe;
    padding: 2rem;
    position: relative;
    border-radius: 5px;
    border: 1px solid #6197a3;;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}