.header {
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 4rem;
    opacity: 0.9;
    background-color: #c7a519;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 4rem;
    box-shadow: 0px 3px 2px 1px rgb(205,174,48,50%);
    /* border-bottom: 1px solid #b4b2b2; */
}