#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.ant-breadcrumb {
    background-color: #ddd;
}

.site-layout-background {
    background-color: #eee;
}

.admin-control {
    .ant-descriptions-row .ant-row {
        padding: 1rem 0;
    }

    pre {
        overflow: auto;
    }

    .ant-descriptions-view {
        overflow: auto;
    }

    .ant-descriptions-row {
        th.ant-descriptions-item-label {
            min-width: 140px;
        }

        td {
            min-width: 400px;
        }

        td>pre {
            overflow: auto;
        }
    }
}

.ant-layout-sider {
    .ant-layout-sider-zero-width-trigger {
        z-index: 100;
        top: 3px;
    }
}

.admin-art-list {
    .ant-table {
        min-height: 400px !important;
    }

    .ant-table-content {
        min-height: 350px !important;
    }

    .admin-tablelist-table {
        .ant-empty-normal {
            margin: 125px 0 !important;
        }

        .ant-table-thead {
            .ant-table-cell {
                background-color: #c7a519;
                color: #fff;
            }
        }

        .ant-table-content {
            overflow: auto hidden;

            >table {
                min-width: 800px;
            }
        }

        .ant-table-tbody>tr>td {
            border-bottom: 1px solid #ac8901;
            border-left: 1px solid #ac8901;
            padding: 4px !important;
        }
    }
}

.admin-stock-list {
    .ant-table {
        min-height: 400px !important;
    }

    .ant-table-content {
        min-height: 350px !important;
    }

    .admin-tablelist-table {
        .ant-empty-normal {
            margin: 125px 0 !important;
        }

        .ant-table-thead {
            .ant-table-cell {
                background-color: #c7a519;
                color: #fff;
            }
        }

        .ant-table-content {
            overflow: auto hidden;

            >table {
                min-width: 800px;
            }
        }

        .ant-table-tbody>tr>td {
            border-bottom: 1px solid #ac8901;
            border-left: 1px solid #ac8901;
            padding: 4px !important;
        }
    }

}

.admin-stock-main {

    .site-tag-plus {
        background: #fff;
        border-style: dashed;
    }

    .edit-tag {
        user-select: none;
    }

    .tag-input {
        width: 78px;
        margin-right: 8px;
        vertical-align: top;
    }

}
.admin-user-main{
    .ant-collapse-content-box{
        overflow: auto;
    }
}