.admin-login-main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d7dcf5;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background: url("~@/static/img/bg.jpg") no-repeat;
    background-size:100% 100%;
    
    .login-form {
        width: 90%;
        padding: 1rem;
        background-color: #eeb469;
        border-radius: 5%;
        opacity: 0.9;
        box-shadow: 0px 0px 20px 2px #633d27;
        .login-form-header{
            display: flex;
            justify-content: center;
        }
        h1 {
            font-size: 1rem;
            font-weight: 300;
            font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
            color: #edf0f8;
        }
        @media (min-width: 730px) and (max-width: 1000px){
            width: 60%;
            padding: 2rem;
            padding-right: 3rem;
            border-radius: 30% 90% 30% 30%;
            box-shadow: 20px -9px 15px 3px #e28650;
            h1 {
                font-size: 1rem;
                font-weight: 300;
            }
        }
        @media (min-width: 1000px) and (max-width: 1120px){
            width: 60%;
            padding: 2rem;
            border-radius: 30% 90% 30% 30%;
            box-shadow: 20px -9px 15px 3px #e28650;
            h1 {
                font-size: 2rem;
                font-weight: 600;
                font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
                color: #edf0f8;
            }
        }
        @media (min-width: 1120px){
            width: 60%;
            padding: 5rem;
            border-radius: 30% 90% 30% 30%;
            box-shadow: 20px -9px 15px 3px #e28650;
            h1 {
                font-size: 3rem;
                font-weight: 600;
                font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
                color: #edf0f8;
            }
        }
        @media (min-width: 1240px){
            width: 50%;
            padding: 5rem;
            border-radius: 30% 90% 30% 30%;
            box-shadow: 20px -9px 15px 3px #e28650;
            h1 {
                font-size: 3rem;
                font-weight: 600;
                font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
                color: #edf0f8;
            }
        }
        
    }
}